<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <title>Srovnání cen</title>
</head>
<body>
    <div class="ui container">
        <form action="">
            <div class="ui input">
                <input name="price" placeholder="Cena" value="{{ price or '' }}">
            </div>
            <div class="ui input">
                <input name="quantity" type="text" placeholder="Skladovost" value="{{ quantity or '' }}">
            </div>
            {#        <div class="ui checkbox">#}
            {#            <input name="ma50" type="checkbox" {% if ma50 %} checked="checked" {% endif %}>#}
            {#            <label>Above 50 day MA</label>#}
            {#        </div>#}
            {#        <div class="ui checkbox">#}
            {#            <input name="ma200" type="checkbox" {% if ma200 %} checked="checked" {% endif %}>#}
            {#            <label>Above 200 day MA</label>#}
            {#        </div>#}
            <button class="ui button primary">Filter</button>
        </form>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>Název</th>
                <th>Cena</th>
                <th>Skladovost</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}

                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} EUR</td>
                    <td>{{ product.qty }} KS</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</body>
</html>
