<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
</head>
<body>
<form action="/graph">
    <img class="sabris_logo" src="/static/images/sabris_logo_slogan.jpg" alt="Sabris logo"/>
    <button class="graph_button" type="submit" value="Go to graph">Go to Graph</button>
</form>
<form action="/admin">
    <button class="graph_button" type="submit" value="Go to graph">Go to Admin</button>
</form>
</body>
</html>